*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html , body{
    height: 100%;
    width: 100%;
}
.card-img-top {
    padding: 15px;
    height: 300px;
    width: auto;
}
.place__holder__image {
    width: 100%;
}